/*
*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**/

@font-face {
  font-family: 'Spectral-ExtraLight';
  font-style:  normal;
  font-weight: 200;
  font-display: swap;
  src: url("fonts/Spectral-ExtraLight.woff2?v=3.19") format("woff2"),
       url("fonts/Spectral-ExtraLight.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter-Bold';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("fonts/Inter-Bold.woff?v=3.19") format("woff");
}

/**/

body{
	color:#DFE7F1;
  background-color:#09000E;
	font-family:"Inter", sans-serif;
	font-weight:200;
  width:100%;
	margin-left:auto;
	margin-right:auto;
}

#header{
  	background-image:url("img/header.png");
	background-size:contain;
	background-repeat: no-repeat;
	background-position:center;
	padding-top:200px;
	padding-bottom:200px;
	text-align:center;
}

#landscape-container{
	position:relative;
}

.landscape-shadow{
	background: rgb(9,0,14);
	background: linear-gradient(0deg, rgba(9,0,14,1) 0%, rgba(9,0,14,0) 20%, rgba(9,0,14,0) 80%, rgba(9,0,14,1) 100%);
	position:absolute;
	top:0;
	background-repeat:no-repeat;
	background-position:center;
	background-size: contain;
	width: 100%;
	height: 0;
	padding-top: 30%; /* (img-height / img-width * container-width) */
						/* (1920 / 1080 * 70) */
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:55px;
	border-top:1px solid #5F5F92;
}

#landscape{
	background:url('img/landscape4.gif');
	background-repeat:no-repeat;
	background-position:top;
  background-attachment: fixed;
	background-size: contain;
	width: 100%;
	height: 0;
	padding-top: 30%; /* (img-height / img-width * container-width) */
						/* (1920 / 1080 * 70) */
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:55px;
}

#mt{
	margin-top:80px;
	margin-bottom:0;
	font-size:17px;
	color:#9a98ca;
}

.mts{
	max-width:1280px;
	margin-top:20px;
	margin-bottom:70px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

.mt{
	width:8vw;
	max-width:8vw;
	margin-top:0;
	padding-top:0;
	margin-left:auto;
	margin-right:auto;
	display:inline-block;
	vertical-align:top;
}

.mt img{
	width:7vw;
	max-width:7vw;
	border-radius:100px 100px 0 0;
	border:1px solid #0b2c26;
	margin-bottom:10px;
	margin-top:0;
}

/* Articles Index */

	.article{
		margin-left:auto;
		margin-right:auto;
		padding-bottom:15px;
		padding-top:60px;
		text-align:center;
		background:#080C10;
		border-top:1px solid #5F5F92;
	}

	.article-block{
		margin-left:15px;
		margin-right:15px;
	}

	.article-text{
		display:inline-block;
		vertical-align:top;
	}

	.article p{
		margin-bottom:80px;
		margin-left:20px;
		text-align:left;
		width:300px;
	}

	.article-text .information{
		display:inline-block;
		text-align:left;
		margin-bottom:10px;
		margin-left:20px;
		margin-top:5px;
		font-size:18px;
	}

	.article img{
		display:inline;
		width:300px;
		margin-top:0;
		border:1px solid #0b2c26;
	}

/*  */

#footer-container{
	position:relative;
}

#footer-shadow{
	background: rgb(9,0,14);
	background: linear-gradient(0deg, rgba(9,0,14,1) 0%, rgba(9,0,14,0) 20%, rgba(9,0,14,0) 80%, rgba(9,0,14,1) 100%);
	position:absolute;
	top:0;
	background-repeat:no-repeat;
	background-position:center;
	background-size: contain;
	width: 100%;
	height: 0;
	padding-top: 30%; /* (img-height / img-width * container-width) */
						/* (1920 / 1080 * 70) */
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:55px;
}

#footer{
	background:url('img/landscape5.png');
	background-repeat:no-repeat;
	background-position:center;
	background-attachment: fixed;
	background-size: contain;
	width: 100%;
	height: 0;
	padding-top: 30%; /* (img-height / img-width * container-width) */
						/* (1920 / 1080 * 70) */
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:55px;
}

/*#shadow{
	width:100%;
	height:100%;
	background-color: red;
}*/

p,h1,h2,h3,h4,blockquote,menu a,ul,ol,li{
	font-family: 'Spectral-ExtraLight';
  font-style:  normal;
  font-weight: 200;
  margin-left:auto;
  margin-right:auto;
  max-width:960px;
}

video{
	display:block;
	width:760px;
	max-width:100%;
	margin:80px auto 10px auto;
	/* border:.5px solid #C8B7D2; */
	box-shadow:0px 0px 50px #34243C;
}

.video-title a{
	font-size:20px;
	color:#03A11F;
	transition:ease .3s;
	border-bottom:1px solid #03A11F;
	line-height:33px;
}

.video-title a:hover{
	color:#00FF29;
	border-bottom:1px solid #00FF29;
}


/* MENU */

a {
  color: #000;
}

/* header */

.header {
  position: inherit;
  width: 100%;
  z-index: 3;
  background: #09000E;
}

.header ul {
  margin-left:auto;
	margin-right:auto;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  text-decoration: none;
}
/*
.header li a:hover,
.header .menu-btn:hover {
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
	margin-left:auto;
	margin-right:auto;
  transition: max-height .2s ease-out;
}

ul{
width:100%;
}

.menu{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  /*float: left;*/
  padding:24px 18px;
  position: relative;
  user-select: none;
	color:white;
}

.header .menu-icon .navicon {
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
	background:#03A11F;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
	background:#03A11F;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {

  .header li {

		display:inline-block;
  }
  .header li a {
    padding: 0px 0px;
  }
  .header .menu {
    clear: none;
		margin-left:auto;
		margin-right:auto;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

}


/**/

menu{
	margin:30px auto 10px auto;
	text-align:center;
}

menu a{
		font-family: 'Inter-Bold';
		color:#03A11F;
		text-transform:uppercase;
		letter-spacing:.15em;
		font-size:15px;
	  text-align:center;
		margin:0 15px 0 15px;
		transition:ease .3s;
	  /*text-shadow:0px 0px 5px #C1B2CA;*/
}

.cn{
	position:fixed;
	display:inline-block;
	color:#AC9AB7;
	border-radius:2px;
	border:1px solid #AC9AB7;
	padding:10px;
	top:15px;
	right:15px;
	transition:ease .5s;
	z-index:5;
}

.cn:hover{
	color:#03A11F;
	border:1px solid #03A11F;
}

menu a:hover{
		color:#00FF29;
}

h1{
  height:200px;
	width:200px;
  background-image:url("img/lunartao.svg");
  background-repeat:no-repeat;
  margin-left:auto;
  margin-right:auto;
}

h2{
	color:#95C9CB;
  font-weight:200;
  font-size:2.1em;
  text-transform:uppercase;
	line-height:1em;
  text-align:center;
	margin-bottom:30px;
	max-width:800px;
}

h3{
	font-family: 'Inter-Bold';
	color:#95C9CB;
	text-transform:uppercase;
	letter-spacing:.35em;
	font-size:20px;
  text-align:center;
	margin-bottom:50px;
  /*text-shadow:0px 0px 5px #C1B2CA;*/
}

h4{
	font-family: 'Inter-Bold';
	color:#7E7EA6;
	text-transform:uppercase;
	letter-spacing:.35em;
	font-size:25px;
	text-align:center;
	margin-bottom:50px;
  /*text-shadow:0px 0px 5px #C1B2CA;*/
}


h4 a{
	color:#03A11F;
	transition:ease .3s;
	/* border-bottom:1px solid #03A11F;
	border-top:1px solid #03A11F; */
	text-shadow:0px 0px 20px #14f444;
	padding-bottom:7px;
	padding-top:7px;
	padding-left:8px;
	line-height:33px;
}

h4 a:hover{
	color:#00FF29;
	/* border-bottom:1px solid #00FF29;
	border-top:1px solid #00FF29; */
}

p,ul,ol{
  font-size:24px;
	line-height:34px;
  text-align:center;
	margin-bottom:30px;
	max-width:760px;
	text-shadow: 0px 0px 5px purple;
}

.menu ul{
	text-shadow:none;
}

.intro{
	margin-top:80px;
	margin-bottom:85px;
}

blockquote{
	color:#95C9CB;
  font-weight:200;
  font-size:2.1em;
  text-transform:uppercase;
	line-height:1.2em;
  text-align:center;
	margin-bottom:80px;
	margin-top:80px;
}

.manifesto{
	max-width:780px;
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

.information{
	color:#95C9CB;
	font-family:'Spectral-ExtraLight',serif;
}

#bt{
	border-color:#7E7EA6;
	color:#7E7EA6;
	padding:20px;
	font-size:1em;
}

#bt:hover{
	border-color:#00FF29;
	color:#00FF29;
}

br{
	margin-bottom:15px;
}

.bullet{
	color:#03A11F;
	text-shadow:none;
}

.socials{
	margin-top:50px;
	margin-bottom:50px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

.button{
	font-family: 'Inter-Bold';
	color:#DDECF0;
  text-transform:uppercase;
	letter-spacing:.2em;
	font-size:20px;
	padding:30px 50px 30px 50px;
	display:inline-block;
	border:1px solid #3B3B86;
	margin-left:15px;
	margin-right:15px;
	transition:0.5s ease;
}

#btt{
	border:1px solid #3E89B4;
}

#btt::before{
	content:url('img/twitter.svg');
	display:inline-block;
	width:15px;
	height:15px;
	margin-right:20px;
}

#bt3{
	margin-right:20px;
}

.nfo{
	background-color:#080C10;
	max-width:960px;
	border:.5px solid #C8B7D2;
	padding:70px 50px 50px 50px;
	margin:100px auto 100px auto;
	box-shadow:0px 0px 50px #34243C;
	text-align:center;
}

.nfo .button{
	text-align:center;
}

.nfo h2{
	margin-top:70px;
	margin-bottom:70px
}

a{
	color:white;
	text-decoration:none;
}

.button:hover,#btt:hover{
	border:1px solid #08383F;
}


#disclaimer{
  font-weight:600;
  font-size:11px;
  line-height:14px;
  color:#545454;
  text-align:center;
}

img{
	max-width:90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top:60px;
}

footer{
	background:url('img/footer.png');
	background-repeat:no-repeat;
	background-position:center;
	background-size: contain;
	width: 85%;
	height: 0;
	padding-top: 20%; /* (img-height / img-width * container-width) */
						/* (1920 / 1080 * 70) */
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

/* Manifesto */

.manifesto-title{
	font-weight:200;
  font-size:3em;
	color:#7E7EA6;
  text-transform:uppercase;
  letter-spacing:16px;
  text-align:center;
  margin-bottom:70px;
  text-shadow:0px 0px 5px #7E7EA6;
}

hr{
	border-top:1px solid #5F5F92;
	border-bottom:0;
	margin-top:70px;
	margin-bottom:70px;
}

#landscape-m1{
	background:url('img/landscape.png');
	background-repeat:no-repeat;
	background-position:center;
	background-attachment: fixed;
	background-size: contain;
	min-width: 100%;
	min-height:100%;
	height: 0;
	padding-top: 30%; /* (img-height / img-width * container-width) */
						/* (1920 / 1080 * 70) */
	text-align:center;
	border-top:1px solid #4D4D66;
	border-bottom:1px solid #4D4D66;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:100px;
	margin-top:100px;
}

#landscape-m3{
	background:url('img/landscape5.png');
	background-repeat:no-repeat;
	background-position:center;
	background-attachment: fixed;
	background-size: contain;
	min-width: 100%;
	min-height:100%;
	height: 0;
	padding-top: 30%; /* (img-height / img-width * container-width) */
						/* (1920 / 1080 * 70) */
	text-align:center;
	border-top:1px solid #4D4D66;
	border-bottom:1px solid #4D4D66;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:100px;
	margin-top:100px;
}

/* ARTICLES */

#landscape01{
	background:url('img/landscape01.jpg');
	background-repeat:no-repeat;
	background-position:top;
	background-attachment: fixed;
	background-size: contain;
	min-width: 100%;
	min-height:100%;
	height: 0;
	padding-top: 30%; /* (img-height / img-width * container-width) */
						/* (1920 / 1080 * 70) */
	text-align:center;
	border-top:1px solid #4D4D66;
	border-bottom:1px solid #4D4D66;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:100px;
	margin-top:100px;
}

#landscape02{
	background:url('img/landscape02.jpg');
	background-repeat:no-repeat;
	background-position:top;
	background-attachment: fixed;
	background-size: contain;
	min-width: 100%;
	min-height:100%;
	height: 0;
	padding-top: 30%; /* (img-height / img-width * container-width) */
						/* (1920 / 1080 * 70) */
	text-align:center;
	border-top:1px solid #4D4D66;
	border-bottom:1px solid #4D4D66;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:100px;
	margin-top:100px;
}

p a, .comitee-list a{
	color:#03A11F;
	border-bottom:1px solid #03A11F;
	transition:ease .3s;
}

p a:hover{
	color:#00FF00;
}

.quote{
	display:inline-block;
	padding:10px;
	margin-left:50px;
	margin-right:50px;
	border-bottom:1px solid #3B3B86;
	border-top:1px solid #3B3B86;
}


/* FAQ */

.question{
	display:block;
	color:#95C9CB;
	font-size:25px;
	text-align:left;
	margin-bottom:0;
}

.question a{
	color:#95C9CB;
	transition:ease .3s;
	border-bottom:none;
}
/* SUPPORT */
#support{
	text-align: center;
	font-size: 16px;
	margin-bottom: 1rem;
}
.support-code{
	overflow:auto;
	text-align: center;
	/* padding-top: 1rem; */
}

.support-currency {
	/*background-color: #0C1116;*/
	padding-top: 1rem;
	max-width: 50%;
    margin-left: auto;
    margin-right: auto;
	/*border: 1px solid #3E89B4;*/
}
.support-button {
	background-color: #0C1116;
	border: 1px solid #3E89B4;
}
#support-header {
	background-image:url("img/support_ld.png");
	background-size:contain;
	background-repeat: no-repeat;
	background-position:center;
	padding-top:200px;
	padding-bottom:300px;
	margin-bottom: 2rem;
	text-align:center;
}

.question a:hover{
	color:#03A11F;
}

.answer a{
	color:#03A11F;
	transition:ease .3s;
	border-bottom:1px solid #03A11F;
}

.answer a:hover{
	color:#00FF29;
	border-bottom:1px solid #00FF29;
}

.answer,li{
	margin-bottom:0;
	text-align:left;
}

.question::before{
	content:url('img/bullet.svg');
	display:inline-block;
	width:15px;
	height:15px;
	margin-right:20px;
}

.nfo-faq{
	background-color:#080C10;
	max-width:720px;
	border:.5px solid #594163;
	padding:20px;
	margin:10px auto 10px auto;
	box-shadow:0px 0px 10px #34243C;
	text-align:center;
}

.nfo-faq h2{
	font-size:27px;
	margin-bottom:15px;
}

table{
	font-size:1.3em;
	width:760px;
	max-width:100%;
	margin-left:auto;
	margin-right:auto;
	border-top:1px solid #3B3B86;
	border-bottom:1px solid #3B3B86;
}

th{
	background-color:#0C1116;
	font-family:'Spectral-ExtraLight',serif;
	font-size:24px;
}

th,td{
	text-shadow:0px 0px 5px purple;
	padding:7px;
	text-align:left;
}

td{
	font-size:20px;
	text-align:right;
	border-top:1px solid #3B3B86;
	padding-right:15px;
}

.td-d{
	background-color:#0C1116;
}

/*Articles page styling*/
.latest-article-abstract {
	text-align: left;
	font-size: 20px;
}

.latest-article-block{
	background-color: #0C1116;
}

.article-latest-block-header h3{
	margin-bottom: 0;
	padding-bottom: 10px;
	text-align: left;
}

.article-latest-card {
	display: grid;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	text-align: center;
}

.article-latest-card-content{
	padding-top: 30px;
}

.article-latest-image {
	border-color: rgb(131, 122, 108);
	display: block;
	max-width: 65%;
	float: left;
}

.article-latest-image img{
	border: 1px solid #3B3B86;
	margin-top: 0;
}

.article-latest-content {
	display: inline-block;
	max-width: 350px;
}
.article-latest-content h3{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	color: #03A11F;
	text-align: left;
	line-height: 95%;
	letter-spacing: 0em;
	font-size: 24px;
}

.article-latest-date {
	color: #95C9CB;
	font-weight: 400;
	padding-bottom: 10px;
	text-align: left;
}
/* Older articles */

.article-abstract {
	text-align: left;
	font-size: 18px;
}

.articles {
	display: flex;
	flex-wrap: wrap;
}

.article-card{
	max-width: 33%;
	padding: 3%;
}

.article-block{
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
}

.article-date {
	margin-top: 2%;
}

.article-image img{
	border: 1px solid #3B3B86;
	max-width: 100%;
}

.article-content h3 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	color: #03A11F;
	margin-top: 2%;
	text-align: left;
	line-height: 95%;
	letter-spacing: 0em;
}

@media (max-width: 1200px){

h2,blockquote,.manifesto-title{
	padding-left:35px;
	padding-right:35px;
}

.article-text p{
	padding:0;
}

}

@media (max-width: 1060px){
	.article-abstract p{
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.nfo{
		border-left:none;
		border-right:none;
		padding-left:30px;
		padding-right:30px;
	}

	.mt{
	width:15vw;
	max-width:15vw;
	}

	.mt img{
	width:10vw;
	max-width:10vw;
	}
	.article-latest-card{
		grid-template-columns: 1fr;
	}

	.article-card {
		grid-template-columns: 1fr;
		max-width: 49%;
		overflow: hidden;
	}

	.article-latest-card-content {
		padding-top: 30px;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	#article-latest-header{
		margin-left: 50px;
	}

	.article-latest-content {
		padding-top: 30px;
		max-width: 90%;
	}

	.article-latest-block-header{
		margin-bottom: 10px;
		text-align: left;
	}

	.latest-article-abstract {
		text-align: left;
		padding: 0;
		max-width: 100%;
	}

	.article-latest-image {
		border-color: rgb(131, 122, 108);
		display: block;
		margin-bottom: 10px;
		max-width: 100%;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 750px){
	#header{
		padding-top: 40%;
		padding-bottom:10%;
	}

	#support-header{
		padding-top: 40%;
		padding-bottom:10%;
	}

	#landscape{
		background:url('img/landscape_m1.png');
		background-repeat:no-repeat;
		background-position:top;
		background-attachment: fixed;
		background-size: contain;
		width: 100%;
		height: 0;
		padding-top: 70%;
		text-align:center;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:55px;
	}

	.landscape-shadow{
		padding-top: 70%;
	}

	#landscape-m1, #landscape01{
		background:url('img/landscape_m2.png');
		background-repeat:no-repeat;
		background-position:center;
		background-attachment: fixed;
		background-size: contain;
		min-width: 100%;
		min-height:100%;
		height: 0;
		padding-top: 60%; /* (img-height / img-width * container-width) */
							/* (1920 / 1080 * 70) */
		text-align:center;
		border-top:1px solid #4D4D66;
		border-bottom:1px solid #4D4D66;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:100px;
		margin-top:100px;
	}

	#landscape-m3, #landscape02{
		background:url('img/landscape_m3.png');
		background-repeat:no-repeat;
		background-position:center;
		background-attachment: fixed;
		background-size: contain;
		min-width: 100%;
		min-height:100%;
		height: 0;
		padding-top: 60%; /* (img-height / img-width * container-width) */
							/* (1920 / 1080 * 70) */
		text-align:center;
		border-top:1px solid #4D4D66;
		border-bottom:1px solid #4D4D66;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:100px;
		margin-top:100px;
	}

	.cn{
		padding:3px;
		font-size:12px;
	}

	h2,blockquote,.manifesto-title{
		font-size:1.8em;
	}

	.manifesto-title{
			letter-spacing:5px;
		}

		table{
			max-width:90%;
		}

		th{
			background-color:#0C1116;
			font-family:'Spectral-ExtraLight',serif;
			font-size:20px;
		}

		th,td{
			text-shadow:0px 0px 5px purple;
			text-align:left;
		}

		td{
			font-size:16px;
			text-align:right;
			border-top:1px solid #3B3B86;
			padding-right:15px;
		}
}

@media (max-width:840px){

	#btt{
		margin-bottom:30px;
	}

	#bt1{
		margin-top:30px;
	}

}

@media (max-width:768px){
	menu{
		margin:0 auto 0 auto;
		text-align:center;
	}

	menu li{
				background:#09000E;
	}

	.menu-icon{
		z-index:4;
	}

	.menu{
		position:fixed;
		margin-top:0;
		margin-bottom:0;
		z-index:2;
	}

	.first{
		padding-top:50px;
	}

	.last{
		padding-bottom:20px;
		border-bottom:1px solid #4D4D66;
	}

	.header {
	  position: fixed;
	}
	.article-latest-card{
		grid-template-columns: 1fr;
	}

	.article-card {
		grid-template-columns: 1fr;
		max-width: 49%;
		overflow: hidden;
	}

	.article-latest-card-content {
		padding-top: 30px;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	#article-latest-header{
		margin-left: 50px;
	}

	.article-latest-content {
		padding-top: 30px;
		max-width: 90%;
	}

	.article-latest-block-header{
		margin-bottom: 10px;
		text-align: left;
	}

	.latest-article-abstract {
		text-align: left;
		padding: 0;
	}

	.article-latest-image {
		border-color: rgb(131, 122, 108);
		display: block;
		margin-bottom: 10px;
		max-width: 100%;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 684px){
	.article-card {
		grid-template-columns: 1fr;
		max-width: 100%;
		overflow: hidden;
	}

	#header{
		margin-top:50px;
		padding-top:100px;
		padding-bottom:120px;
		margin-left:20px;
		margin-right:20px;
	}
	#support-header{
		margin-top:50px;
		padding-top:100px;
		padding-bottom:120px;
		margin-left:20px;
		margin-right:20px;
	}

	menu{
		margin-top:-50px;
	}

	#footer{
		margin-top:80px;
	}

	.button{
		letter-spacing:.15em;
		font-size:16px;
		padding:20px 30px 20px 30px;
	}

	h4{
		font-size:20px;
		padding-left:5px;
	}

	.mt{
	width:22vw;
	max-width:22vw;
	}

	.mt img{
	width:10vw;
	max-width:10vw;
	}

	.quote{
		margin-left:20px;
		margin-right:20px;
	}

	.article-block{
		margin-left:0;
		margin-right:0;
	}

}

@media (max-width: 470px){

	p,.question,li,ol,ul{
	  font-size:1.1em;
		line-height:1.3em;
		padding-left:20px;
		padding-right:20px;
	}

	h2,blockquote,.manifesto-title{
		font-size:1.5em;
	}

	#header{
		padding-top:100px;
		padding-bottom:70px;
	}

	#support-header{
		padding-top:100px;
		padding-bottom:70px;
	}

	.nfo{
		padding:25px;
	}

	.article-text p{
		font-size:1.3em;
		line-height:1.6em;
		margin-bottom:50px;
	}

}

@media (max-width: 420px){

	#header{
		padding-top:80px;
		padding-bottom:50px;
	}

	#support-header{
		padding-top:80px;
		padding-bottom:50px;
	}

	h2,.manifesto-title{
		font-size:1.35em;
		padding-left:20px;
		padding-right:20px;
	}

	h3{
		margin-left:15px;
		margin-right:15px;
	}

	.nfo{
		padding:15px;
	}

	menu a{
			margin:0 7px 0 7px;
	}

	.mt{
	width:22vw;
	max-width:22vw;
	}

	.mt img{
		width:15vw;
		max-width:15vw;
	}

}
